* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Header Section */
header {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers everything horizontally */
  gap: 15px;
  padding: 30px 40px 0 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.132);
  height: 105px;
}

.search-bar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}

.search-bar {
  width: 80%; 
  padding: 12px 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.search-bar:focus {
  box-shadow: 0 0 10px rgba(221, 86, 255, 0.319);
  outline: none;
}

.header-tabs {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 5px;
  flex-wrap: nowrap; 
  margin-bottom: 0;
  padding-bottom: 0;
}

.tab-btn {
  border: none;
  flex: 1 1 auto;
  width: clamp(105px, 16vw, 200px);
  white-space: nowrap;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
  background: none;
  font-size: 16px;
  transition: font-size 0.2s;
}

.tab-btn.active {
  background: linear-gradient(white 75%, rgba(143, 2, 143, 0.547));
  color: linear-gradient(black, white);
  font-size: 20px;
  padding: 9px 0;
}

.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}


/*Main Content*/

main {
  margin-top: 170px;
  overflow-x: visible;
}

/* Houses Section */

.sub-section {
  margin: 0 0 65px 30px;
}

.section-title-container {
  margin-bottom: 25px;
  a {
    text-decoration: none;
  }
}

.section-content {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-wrap: nowrap;
  padding-right:20px;
}

.section-content::-webkit-scrollbar {
  display: none;
}

.property-container {
  width: clamp(250px, 25vw, 300px);
  border-radius: 20px;
  padding: 10px;
  flex-shrink: 0;
  transition: background  0.15s;
}

.property-container:hover {
  background: rgb(234, 206, 232);
}

.property-container:hover {
  box-shadow: #333;
}

.property-thumbnail-container {
  width: clamp(250px, 25vw, 300px);
  height: clamp(250px, 25vw, 300px);
  border-radius: 18px;
}

.property-thumbnail {
  width: 100%;
  border-radius: 18px;
}

.property-details-container {
  margin-top: 10px;
}

.property-label {
  font-size: 18px;
}

.property-price-rating {
  color: rgb(82, 82, 82);
  font-size: 15px;
}

footer {
  background: rgb(242, 242, 242);
  padding: 30px;
  img {
    width: 100%;
  }
  p {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  div{
    margin: 10px 0;
  }
  div div {
    width: 20px;
    height: 20px;
    display: inline-grid;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
  }
}