.bottom-tabs {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(240, 240, 240);
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.234);
}

.bottom-tab {
  border: none;
  padding: 15px 0 5px 0;
  background: rgba(0, 0, 0, 0);
  p {
    font-size: 17px;
  }
}

.bottom-tab-icon {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  padding: 8px;
  position: relative;
}

.bottom-tab.active {
  p {
    color: #3e51c9;
  }
}

.bottom-tab.active .bottom-tab-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center,
    rgb(99, 103, 255, 0.5),
    transparent 70%
  );
  pointer-events: none;
}

.tab-page-content {
  display: none;
}

.tab-page-content.active {
  display: block;
}

@media (width <= 375px) {
  .bottom-tab {
    padding: 2px 0;
    p {
      font-size: 10px;
    } 
  }
  .bottom-tab-icon {
    width: 10px;
  }
}