/* Houses Section */

.sub-section {
  margin-bottom: 65px;
  h2 {
    margin-left: 20px;
  }
}

.section-title-container {
  margin-bottom: 25px;
  a {
    text-decoration: none;
  }
}

.section-content {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex-wrap: nowrap;
  padding: 0 20px;
}

.section-content::-webkit-scrollbar {
  display: none;
}

.property-container {
  width: clamp(180px, 25vw, 300px);
  border-radius: 20px;
  padding: 10px;
  flex-shrink: 0;
  transition: background  0.15s;
}

.property-container:hover {
  /*background: rgb(234, 206, 232);*/
  background: #8494ff64;
}

.property-container:hover {
  box-shadow: #333;
}

.property-thumbnail-container {
  width: clamp(180px, 25vw, 300px);
  height: clamp(180px, 25vw, 300px);
  border-radius: 18px;
}

.property-thumbnail {
  width: 100%;
  border-radius: 18px;
}

.property-details-container {
  margin-top: 10px;
}

.property-label {
  font-size: 18px;
}

.property-price-rating {
  color: rgb(82, 82, 82);
  font-size: 15px;
}
