#search-exit {
  border: none;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: #8494ffca;
  transition: opacity 0.15s;
}

#search-exit:hover {
  opacity: 0.75;
}

#search-result-label {
  padding: 20px 0 0 30px;
}

#search-results-container {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 20px;
}


.result-thumbnail-container {
  border-radius: 20px;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.result-thumbnail {
  width: 100%;
  border-radius: 20px;
}

.search-result {
  display: grid;
  grid-template-columns: minmax(150px, min(240px, 20vw)) 1fr;
  padding: 10px;
  border-radius: 20px;
  transition: background 0.16s;
}

.search-result:hover {
  background: #8494ff64;
}

.result-details {
  margin-left: 12px;
  padding: 10px 0;
}

.result-label {
  font-size: 22px;
  margin-bottom: 12px;
}

.result-price-rating {
  margin-top: 12px;
  color: rgb(40, 40, 40);
}

@media (width >= 950px) {
  #search-results-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 1500px) {
  #search-results-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width <= 375px) {
  #search-exit {
    padding: 5px 15px;
    margin: 0;
    margin-bottom: 10px;
  }
  #search-result-label {
    padding: 10px 0 0 20px;
    font-size: 14px;
  }
  #search-results-label-container {
    margin-top: 100px;
  }

  .result-thumbnail-container {
    width: 120px;
    height: 120px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.312);

  }

  .result-label {
    font-size: 14px;
  }
  .result-details {
    font-size: 12px;
  }
  .search-result {
    display: flex;
    margin: -20px -20px 0 -20px;
    height: 150px;
  }
}
